/* Pertains to NavBar along top of page */
.navbar {
    background-color: whitesmoke; /* Dark background for the navbar */
    overflow: hidden; /* Clear floats */
}
.navbar a {
    float: left; /* Align links horizontally */
    display: block; /* Display links as blocks */
    color: purple; /* Text color */
    text-align: center; /* Center text */
    padding: 14px 20px; /* Padding around links */
    text-decoration: none; /* Remove underline */
}
.navbar a:hover {
    background-color: gray; /* Change background on hover */
    color: purple; /* Change text color on hover */
}

/* Profile pic */
#circular-image {
  display: flex;
  justify-content: center;
  width: 250px; /* Set the width of the circular image */
  height: 250px; /* Set the height to be the same as width */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the image covers the area */
  /* border: 2px solid white; Optional: Add a border */
  overflow: hidden; /* Hide any overflow */

}

/* Icons to social media links along bottom of page */
#socials {
  text-align:center;
  position:absolute;
  width:300px;
  height:150px;
  margin-left:-150px;
  bottom:10px;
  left:50%;
}